@import "@/styles/variables.module.scss";

.icon {
  @include for-phone-only {
    width: 52px;
    height: 52px;
  }

  @include for-tablet-portrait-up {
    width: 80px;
    height: 80px;
  }

  @include for-desktop-up {
    width: 128px;
    height: 128px;
  }
}
