@import "@/styles/variables.module.scss";

.grid {
  gap: 1.25rem;
}

.markdown {
  h2,
  h3 {
    text-align: center;
  }

  @include for-desktop-up {
    max-width: 996px;
  }
}

.bottomText {
  max-width: 996px;
  margin: 2.5rem auto 0;

  text-align: left;

  @include for-desktop-up {
    text-align: center;
  }

  h4 {
    margin: 0;
  }
}
