@import "@/styles/variables.module.scss";

.container {
  h4 {
    font-weight: $font-weight--regular;
  }

  p {
    margin: 0.75rem 0;

    @include for-desktop-up {
      margin: 1rem 0;
    }
  }

  a {
    color: $color--primary;
  }

  ul {
    padding-inline-start: 1.25rem;

    li {
      @include for-phone-only {
        font-size: $font-size--small;
      }
    }
  }

  .imageContainer {
    position: relative;
    width: 75%;
    height: 620px;
    max-width: 100%;
    max-height: 800px;
    margin: 10px auto 30px;
    display: block;
  }

  .image {
    object-fit: contain;
  }
}
