@import "@/styles/variables.module.scss";

.container {
  h4 {
    font-weight: $font-weight--regular;
  }

  p {
    margin: 0.75rem 0;

    @include for-desktop-up {
      margin: 1rem 0;
    }
  }

  a {
    color: $color--primary;
  }

  ul,
  ol {
    padding-inline-start: 1.25rem;

    li {
      @include for-phone-only {
        font-size: $font-size--small;
      }
    }
  }

  .imageContainer {
    position: relative;

    margin: 10px auto 30px;
    display: block;

    @include for-phone-only {
      height: 320px;
      max-width: 75%;
    }

    @include for-tablet-portrait-up {
      height: 420px;
      max-width: 100%;
    }

    @include for-desktop-up {
      max-height: 800px;
    }
  }

  .image {
    object-fit: contain;
  }
}
