@import "@/styles/variables.module.scss";

.lang {
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    font-weight: $font-weight--semiBold;
    padding-inline-start: 4px;
  }

  &:hover {
    color: $color--primary;
    transition: $transition--default;

    svg {
      stroke: $color--primary;
    }
  }
}
