@import "@/styles/variables.module.scss";

.container {
  @include for-phone-only {
    height: 180px;
  }

  @include for-tablet-portrait-up {
    height: 432px;
  }

  @include for-desktop-up {
    height: 810px;
  }

  @include for-med-desktop-up {
    height: 920px;
  }
}
