@import "@/styles/variables.module.scss";

.title {
  @include for-phone-only {
    margin-block-end: 2rem;
  }

  @include for-tablet-portrait-up {
    margin-block-end: 2.5rem;
  }
}

.item {
  @include for-tablet-portrait-up {
    width: calc(50% - 10px);
  }

  @include for-desktop-up {
    width: auto;
  }
}
