@import "@/styles/variables.module.scss";

.container {
  @include for-phone-only {
    width: 65px;
    height: 21px;
  }

  @include for-tablet-portrait-up {
    width: 115px;
    height: 36px;
  }
}
