@import "@/styles/variables.module.scss";

.container {
  position: relative;
  width: 100%;
  z-index: -1;

  @include for-phone-only {
    height: 96px;
  }

  @include for-tablet-portrait-up {
    height: 230px;
  }

  @include for-desktop-up {
    height: 432px;
  }
}

.image {
  object-fit: cover;
}
