@import "breakpoint-mixins.scss";

//Colors
$color--grey: #232323;
$color--half-grey: #23230580;
$color--border-grey: #23233580;
$color--light-grey: #f6f6f6;
$color--primary: #1645ed;
$color--dark-blue: #0d2ea1;
$color--white: #ffffff;
$color--light-white: #f7f7f7;
$color--border-white: #ffffff80;

//Font sizes
$font-size--base: 1rem;
$font-size--small: 0.875rem;
$font-size--tiny: 0.75rem;

//Font weight
$font-weight--bold: 700;
$font-weight--semiBold: 600;
$font-weight--regular: 400;

//Corner rounding
$border-radius--large: 48px;
$border-radius--regular: 20px;

//Transitions
$transition--default: ease 0.3s;

// Sizes
$size--max-width: 108rem;
